<script type="text/ng-template" id="form">
  <td>
    <input ng-model="editing.name" type="text" class="form-control" name="name" />
  </td>
  <td>
    <input ng-model="editing.event_date" type="text" class="form-control" name="event_date" />
  </td>
  <td>
    <input ng-model="editing.place" type="text" class="form-control" name="place" />
  </td>
  <td>
    <input ng-model="editing.description" type="text" class="form-control" name="description" />
  </td>
  <td>
    <button ng-click="hideForm()" class="btn btn-default btn-xs">Cancel</button>
    <button ng-click="updateEvent($index)" class="btn btn-success btn-xs">Save</button>
  </td>
</script>
<script type="text/ng-template" id="row">
  <td>
    <span>{{event.name}}</span>
  </td>
  <td>
    <span>{{event.event_date}}</span>
  </td>
  <td>
    <span>{{event.place}}</span>
  </td>
  <td>
    <span>{{event.description}}</span>
  </td>
  <td>
    <button ng-click="editEvent(event)" class="btn btn-primary btn-xs">Edit</button>
    <button ng-click="destroyEvent(event, $index)" class="btn btn-danger btn-xs">Destroy</button>
  </td>
</script>
